header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 20px;
    z-index: 999;
    .head-wrap{
        background: #FFFFFF08;
        position: relative;
        border-radius: 34px;
        overflow: hidden;
        padding: 14px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(25px);
        @media (max-width:992px){
            padding: 14px 20px;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            border-radius: 34px; 
            padding: 1px; 
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude; /* Exclude the inner part, leaving only the border */
            z-index: 0;
        }
        a{
            display: flex;
            z-index: 1;
            position: relative;
        }
        .header-actions{
            display: flex;
            align-items: center;
            gap:20px;
            justify-content: flex-end;
            .socials{
                display: flex;
                gap:10px;
                @media (max-width:992px){
                    display: none;
                }
            }
            .main-button{
                width: 90px;
                height: 25px;
                font-size: 12px;
            }
        }
    }
}