//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
//Адаптивное свойство
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidthContainer - 360}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth - 360}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth - 360}));
	}
}
//Адаптивное свойство до
@mixin adaptiv-value-to($property, $startSize, $minSize, $minWidth) {
	$addSize: $startSize - $minSize;
	//#{$property}: $minSize + px;
	@media (min-width: #{$minWidth + px}) {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * (((100vw - #{$minWidth + px})) / ((#{$maxWidth - $minWidth}))));
	}
}

$minWidth: 360px;
$maxWidth: 1440px;
$maxWidthContainer: 1142;
$md1: 1110;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@mixin for-min-phone {
    @media (max-width:320px) { @content; }
    }
    @mixin for-phone {
    @media (max-width:375px) { @content; }
    }
    @mixin for-tablet {
    @media (max-width: 425px) { @content; }
    }
    @mixin for-tablet-big {
    @media (max-width: 550px) { @content; }
    }
    @mixin for-tablet-landscape {
    @media (max-width:768px) { @content; }
    }
    
    @mixin for-min-laptop {
    @media (max-width:900px) { @content; }
    }

    @mixin for-laptop {
    @media (max-width:1024px) { @content; }
    }
    
    @mixin for-desktop {
    @media (max-width: 1280px) { @content; }
    }
    @mixin for-big-desktop {
    @media (max-width: 1440px) { @content; }
    }